<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                <% artworks.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.artworkId.title %></h1>
                        <h2>Quantity: <%= p.quantity %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <h2>Total: <%= totalSum %></h2>
            </div>
            <div class="centered">
                <button id="order-btn" class="btn">ORDER</button>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    var stripe = Stripe('pk_test_51N9X95HInnxLtq2KPcH80yemmkdfQLI6QQ2jBFmmRfB8bFSiC6CZJqSFJCZCUtM3U7cwzHRRICX65wKdpCFl9uxn00qVv7ZSSS');
                    var orderBtn = document.getElementById('order-btn');
                    orderBtn.addEventListener('click', function() {
                        stripe.redirectToCheckout({
                            sessionId: '<%= sessionId %>'
                        });
                    });
                </script>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>